### Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Wrapper ###
.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log

### IDEs ###
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Sistema Operacional ###
.DS_Store
Thumbs.db

### Configurações sensíveis ###
.env
application-local.properties
application-dev.properties

### Outros ###
*.tmp